@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fbfbfb;
  font-family: 'Gotham', sans-serif;
  min-height: 100vh;
}



*{
  scroll-behavior: smooth;
  box-sizing: border-box;
}
