@tailwind base;
@tailwind components;
@tailwind utilities;

body {  
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fbfbfb;
  font-family: 'Gotham', sans-serif;
}

*{
  scroll-behavior: smooth;
}


#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}