.div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    gap: 5px;
}

.titulo {
    border: none;
    font-size: 15px;
    padding: 8px 28px 8px 28px;
    border-radius: 50px;
    position: relative;
    color: white;
    transition: 0.2s;
    background-color: #3cbbed;
    transition: 0.3s;
    font-family: "Gotham";
    width: auto;
    left: 40%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    gap: 10px;
}

.divCampo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    .label {
        font-family: "Gotham";
        color: #15214a;
        font-size: 13px;
        font-weight: bolder;
        padding-left: 5px;
    }
}

.divInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 5px;
    .p {
        font-family: "Gotham";
        color: #15214a;
        font-weight: bold;
        font-size: 15px;
    }
    .input {
        width: 400px;
        height: auto;
        padding: 4px;
        font-family: "Gotham";
        font-size: 15px;
        align-items: center;
        gap: 12px;
        border-radius: 10px;
        background: transparent;
        border: 0.5px solid #3cbbed;
        text-align: center;
        font-weight: bold;
    }
    .input::placeholder {
        font-size: 12.5px;
    }
    .input:focus {
        outline: none;
        border: 2px solid #3cbbed;
    }
    .select {
        font-family: "Gotham";
        background-color: white;
        width: 400px;
        height: auto;
        padding: 4px;
        color: #3cbbed;
        text-align: center;
        font-size: 15px;
        border: solid #3cbbed 1.8px;
        border-radius: 10px;
    }
    .select:focus {
        background-color: #3cbbed;
        color: white;
        outline: none; 
        border-color: #15214a;
    }
}


.select {
    font-family: "Gotham";
    background-color: white;
    width: 400px;
    height: auto;
    padding: 4px;
    color: #3cbbed;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    border: solid #3cbbed 1.8px;
    border-radius: 10px;
}
.select:focus {
    background-color: #3cbbed;
    color: white;
    outline: none; 
    border-color: #15214a;
}


.inputext {
    width: 400px;
    height: auto;
    padding: 4px;
    font-family: "Gotham";
    font-size: 15px;
    align-items: center;
    gap: 12px;
    border-radius: 10px;
    background: transparent;
    border: 0.5px solid #3cbbed;
    text-align: center;
    font-weight: bold;
}
.inputext::placeholder {
    font-size: 12.5px;
}
.inputext:focus {
    outline: none;
    border: 2px solid #3cbbed;
}