/* Contenedor principal */
.nosotros-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
  background-color: #f8f8f8;
  border-top: 1px solid #0093d9;
  border-bottom: 1px solid #0093d9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  /* Evitar que los bordes agreguen al ancho máximo */
}

/* Título de la sección */
.titulo-seccion {
  font-size: 2em;
  color: #0093d9;
  margin-bottom: 10px;
}

/* Texto importante */
.texto-importante {
  font-size: 1.2em;
  line-height: 1.6;
  color: #121212;
  /* Cambiar el color de texto para mayor legibilidad */
}

/* Mision, Visión y Razón */
.mision-vision-razon {
  margin-bottom: 30px;
}

.mision-vision-razon h2 {
  font-size: 1.4em;
  color: #0093d9;
  margin-bottom: 10px;
}

.mision-vision-razon p {
  font-size: 1.2em;
  line-height: 1.6;
  color: #121212;
  /* Cambiar el color de texto para mayor legibilidad */
}

/* Lista de valores */
.valores {
  font-size: 1.2em;
  line-height: 1.6;
  padding: 0;
  margin: 0;
}

.valores li {
  font-size: 1em;
  line-height: 1.6;
  color: #121212;
  margin-bottom: 10px;
}

.valores li:before {
  content: "•";
  color: #111010;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.valores li:first-child {
  margin-top: 10px;
}

/* Hacerlo responsive */
@media (max-width: 768px) {

  /* Cambios para pantallas más pequeñas */
  .nosotros-container {
    padding: 10px;
  }

  .titulo-seccion {
    font-size: 1.5em;
  }

  .texto-importante,
  .mision-vision-razon p,
  .valores li {
    font-size: 1em;
  }

  .mision-vision-razon h2 {
    font-size: 1.2em;
  }
}