.containerContactanos {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #b0b0b0;
    border-radius: 5px;
    background-color: #8bc8eb;
  }
  .containerContactanos .cabecera {
    width: 100%;
    min-height: 90px;
    height: auto;
    background-color: #202549;
    align-content: center;
  }
  
  .containerContactanos label {
    display: block;
    margin-bottom: 5px;
  }
  
  .containerContactanos input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .containerContactanos button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .containerContactanos button:hover {
    background-color: #0056b3;
  }
  