.divMain{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 110px;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.logo{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seguro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    gap: 10px;
}

.contenedor{
    display: flex;
    justify-content: center;
    gap: 200px;
}




            .divDetalle{
                border-radius: 15px;
                display: flex;
                flex-direction: column;
                width: 300px;
                max-height: 800px;
                background-color: lightblue;
                margin: 0px 10px;
                padding: 20px;
                align-items: center;
                height: 700px;
            }

            

            
            .ticket{
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
            }