.divScroll{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
}

.divCardsArr{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}