.fondo {
  width: auto;
  height: 600px;
  display: flex;
  align-items: center;
  position: relative; /* Agregamos position: relative; al contenedor */
}
/* .fondo div {
  margin: 10px;
} */
.cita {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-transform: uppercase;
}
.peq{
  display: flex;
  text-transform: lowercase;
  justify-content: center;
}
.imagenContainer {
  width: 70%;
  height: auto;
}
.imagen {
  width: auto;
  height: 500px;
  border-top-left-radius: 400px;
  border-bottom-left-radius: 400px;
  position: relative;
  background-image: url('../../assets/Zapato\ y\ Porducto.png');
  border-style: none;
  background-size: cover;
  background-color: #3cbbed;

}
/* .imagen2 {
  width: 45vh;
  height: 600px;
  border-radius: 10px;
  position: relative;
  background-image: url('../../assets/Mesa\ de\ trabajo\ 1-8.png');
  border-style: none;
  background-size: cover;
  z-index: 1; 
} */
@font-face{
  font-family: "promo";
  src: url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
}
.promo {
  font-family: "promo";
  display: flex;
  width: auto;
  height: 0px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  text-align: center;
  color: #2c2d32;
  font-size: 50px;
  font-weight: 600;
}
.link {
  text-decoration: none;
}
.divButton {
  margin-top: 60px;
}

.divButton button {
  border: none;
  font-size: 23px;
  padding: 10px 30px 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  color: white;
  transition: 0.2s;
  border: 1px solid #3cbbed;
  color: #3cbbed;
  background-color: transparent;
  transition: 0.3s;
  overflow: hidden;
}

.divButton button:hover{
  color: white;
}

.divButton button::before{
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0%;
  left: 0;
  border-radius: 50px;
  background-color: #3cbbed;
  z-index: -1;
  transition: 0.6s;
  opacity: 0.5;
}

.divButton button:hover::before{
  width: 100%;
  opacity: 1;
}