.fondo {
  width: auto;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:50px
}
.fondo div {
  margin: 10px;
}
.cita {
  display: flex;
  flex-direction: column;
}
.imagen {
  width: 40%;
  height: 492px;
  border-radius: 10px;
  position: relative;
  background-image: url('../../assets/IMG_2122.jpg');
  border-style: none;
}
@font-face{
  font-family: "promo";
  src: url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
}
.promo {
  font-family: "promo";
  display: flex;
  width: 459px;
  height: 0px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  text-align: center;
  line-height: normal;
  color: #2c2d32;
  font-size: 50px;
}
.link {
  text-decoration: none;
}
.divButton {
  margin-top: 90px;
  margin-left: auto;
}

.divButton button {
  border: none;
  font-size: 23px;
  padding: 10px 30px 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  color: white;
  transition: 0.2s;
  border: 1px solid #3cbbed;
  color: #3cbbed;
  background-color: transparent;
  transition: 0.3s;
  overflow: hidden;
}

.divButton button:hover{
  color: white;
}

.divButton button::before{
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0%;
  left: 0;
  border-radius: 50px;
  background-color: #3cbbed;
  z-index: -1;
  transition: 0.6s;
  opacity: 0.5;
}

.divButton button:hover::before{
  width: 100%;
  opacity: 1;
}