.titulo {
  line-height: 50px;
}
.carrusel{
  margin-top: 50px;
  margin-bottom: 50px;
}
.footer {
  display: flex;
  background: black;
  line-height: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 5px;
}
.link {
  text-decoration: none;
  color: aliceblue;
}

.separador{
  height: 10px;
  width: 100%;
  background-color: transparent;
}