.divNavBar {
    display: flex;
    height: 60px;
    padding: 25px 30px 25px 30px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    row-gap: 115px;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* IMAGEN LOGO */

.logo {
    height: 60px;
    width: 250px;
}

/* BUTTONS */

.divButtonsNav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.divButtonsNav button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 15px;
}

/* INPUT SEARCH */

.searchBarDiv input {
    display: flex;
    width: 336px;
    padding: 10px;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    background: transparent;
    border: 1px solid #3cbbed;
}

.searchBarDiv input:focus {
    outline: none;
    border: 2px solid #3cbbed;
}

.searchBarDiv {
    display: flex;
    gap: 9px;
    justify-content: center;
    align-items: center;
}

.searchBarDiv button {
    background-color: #3cbbed;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    border: none;
    padding: 7px;
    cursor: pointer;
}

.searchBarDiv button:disabled{
    cursor: not-allowed;
}

.searchBarDiv button h5{
    font-family: 'Gotham Black', sans-serif;
}

.searchBarDiv button img {
    height: 100%;
    width: 100%;
}


/* Carrito */

.carritoDiv {
    position: relative;
    cursor: pointer;
}

.carritoDiv::before {
    content: "1";
    position: absolute;
    top: 70%;
    left: 70%;
    background-color: #3cbbed;
    border-radius: 50%;
    height: 21px;
    width: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.carritoImg {
    width: 32px;
    height: 33px;
}

/* MENU DESPLEGABLE LOG IN LETTER */


.containerLogIn{
    position: relative;
}

.divMenuDesplegable{
    position: absolute;
    height: 120px;
    width: 250px;
    background-color: #202549;
    left: -160%;
    top: 110%;
    z-index: 99;
    border: 2px solid #3cbbed;
    border-radius: 16px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20%;
}

.divMenuDesplegable ion-icon{
    color: #3cbbed;
    font-size: 18px;
}

.divMenuDesplegable h5{
    margin: 0;
    color: #3cbbed;
}

.divMenuDesplegable button{
    display: flex;
    justify-content:flex-start;
    gap: 10%;
    align-items: center;
    border-radius: 16px;
    width: 70%;
    border: 1px solid #3cbbed;
    background-color: white;
    cursor: pointer;
    padding: 5px;
}

.divMenuDesplegable button h5{
    font-size: 14px;
    color: white;
    color: #3cbbed;
}

.userLetter {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 50%;
    background: #202549;
    color: white;
    font-size: 20px;
    position: relative;
    transition: 0.6s;
    overflow: hidden;
    z-index: 99999999999;
    font-family: 'Gotham Black', sans-serif;
    cursor: pointer;
}

.userLetter:hover {
    background-color: transparent;
}

.userLetter::before {
    position: absolute;
    content: "";
    top: -20%;
    left: 0%;
    background-color: #3cbbed;
    height: 10%;
    width: 0%;
    border-radius: 50%;
    z-index: -1;
    transition: 0.6s;
    opacity: 0;
}

.userLetter:hover::before {
    width: 150%;
    height: 150%;
    opacity: 1;
}