.divNavBar {
    display: flex;
    height: 60px;
    padding: 50px 60px 50px 50px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    row-gap: 115px;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* IMAGEN LOGO */

.logo {
    height: 60px;
    width: 284px;
}

/* BUTTONS */

.divButtonsNav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.divButtonsNav button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 15px;
}

/* INPUT SEARCH */

.divNavBar input {
    display: flex;
    width: 336px;
    padding: 10px;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    background: transparent;
    border: 1px solid #3cbbed;
}

/* USER LETTER */

.userLetter {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 50%;
    background: #202549;
    color: white;
    font-size: 20px;
    position: relative;
    transition: 0.6s;
    overflow: hidden;
}

.userLetter:hover{
    background-color: transparent;
}

.userLetter::before{
    position: absolute;
    content: "";
    top: -20%;
    left: 0%;
    background-color: #3cbbed;
    height: 10%;
    width: 0%;
    border-radius: 50%;
    z-index: -1;
    transition: 0.6s;
    opacity: 0;
}

.userLetter:hover::before{
    width: 150%;
    height: 150%;
    opacity: 1;
}

/* Carrito */

.carritoDiv{
    position: relative;
    cursor: pointer;
}

.carritoDiv::before{
    content: "1";
    position: absolute;
    top: 70%;
    left: 70%;
    background-color: #3cbbed;
    border-radius: 50%;
    height: 21px;
    width: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.carritoImg {
    width: 32px;
    height: 33px;
}